{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DeepInsight-管理员中心</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="{% static "css/font-awesome/css/font-awesome.min.css" %}">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static "css/style3.css" %}" id="theme-styles">

    <!--[if lt IE 9]>      
        <script src="js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->


</head>

<body>
    <header>
        <div class="widewrapper masthead">
            <div class="container">
                <a href="/" id="logo">
                    <img src="{% static "images/logo2.png" %}" alt="clean Blog">
                </a>
            </div>
            <div class="signup"><a href="/signup">注销</a></div>
            <div class="login"><a href="/login">管理员中心</a></div>
        </div>

        <div class="widewrapper subheader">
            <div class="container">
                <div class="clean-breadcrumb">
                    <a href="/">首页</a>
                    <span class="separator">&#x2F;</span>
                    <a href="#">管理员中心</a>

                </div>


                <div class="clean-searchbox">
                    <form action="#" method="get" accept-charset="utf-8">


                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <article class="blog-post">




                        <div class="body">
                            <h2>
                                管理员中心
                            </h2>
                            <table width="80%" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                    <td align="center" class="biaoti" height="60">待批准申请</td>
                                </tr>
                                <tr>
                                    <td align="right" height="25">2017.01.01-2017.08.01</td>
                                </tr>
                            </table>
                            <table width="100%" border="1" cellspacing="1" cellpadding="4" bgcolor="#cccccc" class="tabtop13" align="center">
                                <tr>
                                    <td width="5%" class="btbg font-center titfont">序号</td>
                                    <td width="12%" class="btbg font-center titfont">申请日期</td>
                                    <td width="12%" class="btbg font-center titfont">用户名</td>
                                    <td width="13%" class="btbg font-center titfont">真实姓名</td>
                                    <td width="19%" class="btbg font-center titfont">个人照片</td>
                                    <td width="19%" class="btbg font-center titfont">扫描件</td>
                                    <td width="10%" class="btbg font-center titfont">审核状态</td>
                                    <td width="10%" class="btbg font-center titfont">是否批准</td>
                                </tr>
                                <tr>
                                    <td width="5%" class="btbg font-center">1</td>
                                    <td width="12%" class="btbg font-center">2017.9.7</td>
                                    <td width="12%" class="btbg font-center"><a href="#">2669612599@qq.com</a></td>
                                    <td width="13%" class="btbg font-center">马莹莹</td>
                                    <td width="19%" class="btbg font-center titfont"><img src=""></td>
                                    <td width="19%" class="btbg font-center titfont"><img src=""></td>
                                    <td width="10%" class="btbg font-center">待审核</td>
                                    <td width="10%" class="btbg font-center">
                                        <input type="radio" name="ratify" value="yes" /> 是</br>
                                        <input type="radio" name="ratify" value="no" />否</td>
                                </tr>
                               
                            </table>
                        </div>
                    </article>

                </div>
                <aside class="col-md-3 blog-aside">

                    <div class="aside-widget">
                        <header>
                            <h3>个人应用</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                <li><a href="/personal/change/">个人信息修改</a></li>
                                <li><a href="/personal/apply/">申请License</a></li>



                            </ul>
                        </div>
                    </div>


                </aside>



            </div>
        </div>
    </div>
    <footer>
        <div class="widewrapper copyright">
            DeepInsight
        </div>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/modernizr.js" %}"></script>

</body>

</html>