{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <title>DeepInsight-管理员中心</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
    
        
        <script>
        if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
            location.href ="/administrator1"
        }
        </script>
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="{% static "css/font-awesome/css/font-awesome.min.css" %}">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static "css/style3.css" %}" id="theme-styles">

</head>

<body>
    <header>
        <div class="widewrapper masthead">
            <div class="container">
                <a href="/" id="logo">
                    <img src="{% static "images/logo2.png" %}" alt="clean Blog">
                </a>
            </div>
           
        </div>

        <div class="widewrapper subheader">
            <div class="container">
                <div class="clean-breadcrumb">
                    <a href="/">首页</a>
                    <span class="separator">&#x2F;</span>
                    <a href="#">管理员中心</a>

                </div>
                <div class="clean-breadcrumb2"><a href="/personal">欢迎您！  {{user.name}}</a>
                    <span class="separator">&#x2F;</span>
                     <a href="/logout">注销</a></div>

                <div class="clean-searchbox">
                    <form action="#" method="get" accept-charset="utf-8">


                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-10 blog-main">
                    <article class="blog-post">




                        <div class="body">
                            <h2>
                                管理员中心
                            </h2>
                            <table width="80%" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                    <td align="center" class="biaoti" height="60">待审核申请</td>
                                </tr>
                            </table>
                        </br> 
                        <table width="100%" id="table-7" Name="table-7"  class="">         
                        <tr>
                            <th width="11%" class="font-center">历史详情</th>
                            <th width="18%" class="font-center">申请日期</th>
                            <th width="12%" class="font-center">单位</th>
                            <th width="11%" class="font-center">真实姓名</th>
                            <th width="12%" class="font-center">科室</th>
                            <th width="10%" class="font-center">审核状态</th>
                            <th width="10%" class="font-center">是否批准</th>
                        </tr></table>
                            {% for history in admin_historys %}
                            <table width="100%" id="table-7" Name="table-7"  class="" border="1" cellspacing="1" cellpadding="4" bgcolor="#cccccc" align="center">
                                
                                <tr>
                                    
                                    <td width="11%" class="font-center"><a onclick="changecss({{history.id}})">历史详情</a></td>
                                    <td width="18%" class="font-center">{{history.apply_time}}</td>
                                    <td width="12%" class="font-center">{{history.user.unit}}</td>
                                    <td width="11%" class="font-center">{{history.user.name}}</td>
                                    <td width="12%" class="font-center">{{history.user.office}}</td>
                                    <td width="10%" class="font-center" id='{{history.id}}'>{{history.examine}}</td>
                                    <td width="10%" class="font-center">
                                            <a onclick="allow({{history.id}})" id="allow">批准</a>
                                        
                                            <a onclick="cancel({{history.id}})" id="cancel">取消</a></td>
                                </tr>
                            </table>

                            <div style="margin:0;padding:0;" class="sr-only" id="hidden_css_{{history.id}}">
                                   
                                    
                            
                                    <table width="100%" id="table-7" border="1" cellspacing="1" cellpadding="4" bgcolor="#cccccc" align="center">
                                    <tr>
                                        <td width="11%" class="font-center">激活码</td>
                                        <td width="18%" class="font-center">\</td>
                                        <td width="12%" class="font-center">\</td>
                                        <td width="11%" class="font-center">协议扫描件</td>
                                        <td width="12%" class="font-center">工作证</td>
                                        <td width="10%" class="font-center">\</td>
                                        <td width="10%" class="font-center">SN号</td>
                                    </tr>
                                    {% for h in history.personal_history %}
                                    <tr>
                                        <td width="11%" class="font-center">{{h.activation}}</td>
                                        <td width="18%" class="font-center">{{h.apply_time}}</td>
                                        <td width="12%" class="font-center">{{history.user.unit}}</td>
                                        <td width="11%" class="font-center"><a href={% static history.user_image.user_scanning_copy_path %}>协议扫描件链接</a></td>
                                        <td width="12%" class="font-center"><a href={% static history.user_image.user_image_path %}>工作证链接</a></td>
                                        <td width="10%" class="font-center">{{h.examine}}</td>
                                        <td width="10%" class="font-center">{{h.SNnum}}</td>
                                    </tr>
                                    {% endfor %}
                                    </table>
                            </br>
                           
                            
                           
                                 
                              
                            </div>
                            {% endfor %} 
                    
                            
                            
           
                        </div>
                   
                    </article>

                </div>
                <aside class="col-md-2 blog-aside">
                    
                                    <div class="aside-widget">
                                        <header>
                                            <h3>功能区</h3>
                                        </header>
                                        <div class="body">
                                            <ul class="clean-list">
                                                <li><a href="/statistics">统计分析</a></li>
                                                <li><a href="/administrator">申请审核</a></li>
                                            </ul>
                                        </div>
                                    </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="widewrapper copyright">
            DeepInsight
        </div>
    </footer>
    <script src="../static/js/jquery-1.11.0.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/modernizr.js" %}"></script>
    <script src="../static/js/jquery-1.11.1.min.js"></script>

    <script>

    function changecss(id) 
    {
        if (document.getElementById("hidden_css_"+id).className=="sr-only")
        {
        document.getElementById("hidden_css_"+id).className = "col-md-12";}
        else if (document.getElementById("hidden_css_"+id).className=="col-md-12")
        {
        document.getElementById("hidden_css_"+id).className = "sr-only";}
    }  

    function allow(id)
    {
    $.getJSON("/allow_examine", { allow_history_id: id },function(result){
    $("#"+id).text(result.examine);
    });
    }
    function cancel(id)
    {
    $.getJSON("/cancel_examine", { cancel_history_id: id },function(result){
    $("#"+id).text(result.examine);
    });
    }

    
</script>
</body>

</html>