<!DOCTYPE HTML>
<html>

<head>
	<title>DeepInsight</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Medicinal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="applisalonion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1);
		} </script>
	<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="../static/css/slider.css">
	<script src="../static/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../static/js/move-top.js"></script>
	<script type="text/javascript" src="../static/js/easing.js"></script>
	<!--/web-font-->
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<!--/script-->
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
			});
		});
	</script>


</head>

<body>
	<div class="header-top">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>-->
					<div class="logo">
						<img src="../static/images/logo2.png">
					</div>
				</div>


			</nav>


			<div class="clearfix"></div>
		</div>
	</div>

	<div class="signup"><a href="/signup">注册</a></div>
	<div class="login"><a href="/login">登录</a></div>

		
        <div class="widewrapper subheader">
            <div class="container">
                <div class="clean-breadcrumb">
                    <a href="/">首页</a>
                   

                </div>


                <div class="clean-searchbox">
                    <form action="#" method="get" accept-charset="utf-8">


                    </form>
                </div>
            </div>
        </div>
		<!-- SVG Arrows -->
		<div class="svg-wrap">
			<svg width="64" height="64" viewBox="0 0 64 64">
				<path id="arrow-left" d="M46.077 55.738c0.858 0.867 0.858 2.266 0 3.133s-2.243 0.867-3.101 0l-25.056-25.302c-0.858-0.867-0.858-2.269 0-3.133l25.056-25.306c0.858-0.867 2.243-0.867 3.101 0s0.858 2.266 0 3.133l-22.848 23.738 22.848 23.738z"
				/>
			</svg>
			<svg width="64" height="64" viewBox="0 0 64 64">
				<path id="arrow-right" d="M17.919 55.738c-0.858 0.867-0.858 2.266 0 3.133s2.243 0.867 3.101 0l25.056-25.302c0.858-0.867 0.858-2.269 0-3.133l-25.056-25.306c-0.858-0.867-2.243-0.867-3.101 0s-0.858 2.266 0 3.133l22.848 23.738-22.848 23.738z"
				/>
			</svg>
		</div>

		<div class="sleekslider">
			<!-- Slider Pages -->
			<div class="slide active bg-1">
				<div class="slide-container">
					<div class="slide-content">
						<a href="/introduction/"><p>DeepInsight <span class="s-p">介绍</span></p></a>
					</div>
s
				</div>
			</div>
			<div class="slide bg-2">
				<div class="slide-container">
					<div class="slide-content">
					<a href="/download/">	<p>DeepInsight <span class="s-p">下载试用</span> </p></a>

					</div>
				</div>
			</div>
			<div class="slide bg-3">
				<div class="slide-container">
					<div class="slide-content">
						<a href="/team/"><p>DeepInsight <span class="s-p">研发团队</span></p></a>

					</div>
				</div>
			</div>
			<div class="slide bg-4">
				<div class="slide-container">
					<div class="slide-content">
						<a href="/user/">	<p>DeepInsight<span class="s-p"> 典型用户</span> </p></a>

					</div>
				</div>
			</div>
			<div class="slide bg-5">
				<div class="slide-container">
					<div class="slide-content">
							<a href="/contact/"><p>联系我们 <span class="s-p"></span></p></a>

					</div>
				</div>
			</div>

			<!-- Navigation Arrows with Thumbnails -->
			<nav class="nav-split">
				<a class="prev" href="">
					<span class="icon-wrap"><svg class="icon" width="22" height="22" viewBox="0 0 64 64"><use xlink:href="#arrow-left" /></svg></span>
					<div>
						<h3>test</h3>
						<img alt="Previous thumb"/>
					</div>
				</a>
				<a class="next" href="">
					<span class="icon-wrap"><svg class="icon" width="22" height="22" viewBox="0 0 64 64"><use xlink:href="#arrow-right" /></svg></span>
					<div>
						<h3>test</h3>
						<img alt="Next thumb"/>
					</div>
				</a>
			</nav>

			<!-- Pagination -->
			<nav class="pagination">
				<span class="current"></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</nav>
			<nav class="tabs">
				<div class="tab-container">
					<ul>
						<li class="current"><a href="/introduction"><span>01</span> 软件介绍</a></li>
						<li><a href="/download"><span>02</span> 试用下载</a></li>
						<li><a href="/team"><span>03</span> 研发团队</a></li>
						<li><a href="/user"><span>04</span> 典型用户</a></li>
						<li><a href="/contact"><span>05</span> 联系我们</a></li>
					</ul>
				</div>
			</nav>
		</div>

		
	

	<!-- Services -->
	<div class="services" id="services">
		<div class="container">

			<div class="inner-w3">
				<div class="sub-hd">
					<h3 class="tittle">关于 <span>我们</span></h3>
				</div>
			</div>

			<div class="inner_tabs">
				<h2 class="tittle">东北大学医学影像计算教育部重点实验室</h2>
				<p class="sub-para">Email:tanwenjun@cse.neu.edu.cn，
					微信：tanwenjun444228，
					微信公众号：DeepInsight系统 </p>
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				</div>
			</div>


		</div>
	</div>
	<!-- JavaScripts -->
		<script type="text/javascript" src="../static/js/sleekslider.min.js"></script>
		<script type="text/javascript" src="../static/js/app.js"></script>
		<!--welcome-->
</body>

</html>