{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DeepInsight-注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FreeHTML5.co"/>
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"/>


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/animate.css" %}">
    <link rel="stylesheet" href="{% static "css/style2.css" %}">

    <!-- Modernizr JS -->
    <script src="{% static "js/modernizr-2.6.2.min.js" %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body class="style-1">

<div class="container">

    <div class="row">
        <div class="col-md-4 col-md-offset-4">


            <div class="border">
                <form method="post" id="signup_form" class="fh5co-form animate-box" data-animate-effect="fadeIn">

                    <h2>注册</h2>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name" class="sr-only">真实姓名</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="真实姓名"
                               autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="username" class="sr-only">电子邮箱</label>
                        <input type="email" class="form-control" id="username" name="username" placeholder="电子邮箱"
                               autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="sr-only">手机号码</label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="手机号码"
                               autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="password1" class="sr-only">密码</label>
                        <input type="password" class="form-control" id="password1" name="password1" placeholder="密码"
                               autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="password2" class="sr-only">重复密码</label>
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="重复密码"
                               autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="unit" class="sr-only">单位</label>
                        <input type="text" class="form-control" id="unit" placeholder="单位" name="unit"
                               autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="office" class="sr-only">科室</label>
                        <input type="text" class="form-control" id="office" name="office" placeholder="科室"
                               autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="post" class="sr-only">职务</label>
                        <input type="text" class="form-control" id="post" name="post" placeholder="职务"
                               autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="professional" class="sr-only">职称</label>
                        <input type="text" class="form-control" id="professional" name="professional" placeholder="职称"
                               autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="number" class="sr-only">工号</label>
                        <input type="text" class="form-control" id="number" name="number" placeholder="工号"
                               autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <p>已注册? <a href="login.html">登录</a></p>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="注册" class="btn btn-primary">
                    </div>
                </form>
                <!-- END Sign In Form -->

            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="{% static "js/jquery.min.js" %}"></script>
<!-- Bootstrap -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<!-- Placeholder -->
<script src="{% static "js/jquery.placeholder.min.js" %}"></script>
<!-- Waypoints -->
<script src="{% static "js/jquery.waypoints.min.js" %}"></script>
<!-- Main JS -->
<script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/bootstrapValidator.min.js" %}"></script>
<script type="text/javascript" src="/static/js/bootstrapValidator.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#signup_form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {

                password1: {
                    validators: {
                        notEmpty: {
                            message: '请输入密码'
                        },
                        identical: {
                            field: 'password2',
                            message: '两次密码输入不一致'
                        },
                        stringLength: {
                            min: 8,
                            message: '密码最少是八位的'
                        }
                    }
                },
                password2: {
                    validators: {
                        notEmpty: {
                            message: '请再次输入密码'
                        },
                        identical: {
                            field: 'password1',
                            message: '两次密码输入不一致'
                        }
                    }
                },
                username: {
                    validators: {
                        notEmpty: {
                            message: '邮件不能为空'
                        },
                        emailAddress: {
                            message: '请输入正确的邮件地址如：123@163.com'
                        }
                    }
                },
                password1: {
                    validators: {
                        notEmpty: {
                            message: '请输入密码'
                        },
                        identical: {
                            field: 'password2',
                            message: '两次密码输入不一致'
                        },
                        stringLength: {
                            min: 8,
                            message: '密码最少是八位的'
                        }
                    }
                },
                name: {
                    validators: {
                        notEmpty: {
                            message: '请输入真实姓名'
                        }
                    }
                },
                unit: {
                    validators: {
                        notEmpty: {
                            message: '请输入单位'
                        }
                    }
                },
                office: {
                    validators: {
                        notEmpty: {
                            message: '请输入科室'
                        }
                    }
                },
                post: {
                    validators: {
                        notEmpty: {
                            message: '请输入职务'
                        }
                    }
                },
                professional: {
                    validators: {
                        notEmpty: {
                            message: '请输入职称'
                        }
                    }
                },
                number: {
                    validators: {
                        notEmpty: {
                            message: '请输入工号'
                        }
                    }
                },
                phone: {
                    message: 'The phone is not valid',
                    validators: {
                        notEmpty: {
                            message: '手机号码不能为空'
                        },
                        stringLength: {
                            min: 11,
                            max: 11,
                            message: '请输入11位手机号码'
                        },
                        regexp: {
                            regexp: /^1[0-9]{10}$/,
                            message: '请输入正确的手机号码'
                        }
                    }
                }
            }
        });
    });
</script>


</body>

</html>