{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <title>DeepInsight-管理员中心</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
    
        
        
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="{% static "css/font-awesome/css/font-awesome.min.css" %}">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static "css/style3.css" %}" id="theme-styles">
    <style>
    #china-map {width:370px; height: 400px;margin-left:-30px;}
    #pie1{width:300px;height:400px;}
    #pie2{width:300px;height:400px;}
    #pie3{width:300px;height:400px;}
    .hide{width:0;height:0;}
   
    </style>
    <script type="text/javascript"> 
        function secBoard(elementID,listName,n) {
         var elem = document.getElementById(elementID);
         var elemlist = elem.getElementsByTagName("li");
         for (var i=0; i<elemlist.length; i++) {
         elemlist[i].className = "normal";
         var m = i+1;
         document.getElementById(listName+"_"+m).className = "normal";
         }
         elemlist[n-1].className = "current";
         document.getElementById(listName+"_"+n).className = "current";
        }
        </script>
        <script src="../static/js/jquery-1.11.0.min.js"></script>
        <script src="../static/js/echarts.js"></script>
        <script src="../static/js/china.js"></script>
</head>

<body>
    <header>
        <div class="widewrapper masthead">
            <div class="container">
                <a href="/" id="logo">
                    <img src="{% static "images/logo2.png" %}" alt="clean Blog">
                </a>
            </div>
           
        </div>

        <div class="widewrapper subheader">
            <div class="container">
                <div class="clean-breadcrumb">
                    <a href="/">首页</a>
                    <span class="separator">&#x2F;</span>
                    <a href="#">统计分析</a>

                </div>
                <div class="clean-breadcrumb2"><a href="/personal">欢迎您！  {{user.name}}</a>
                    <span class="separator">&#x2F;</span>
                     <a href="/logout">注销</a></div>

                <div class="clean-searchbox">
                    <form action="#" method="get" accept-charset="utf-8">


                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-10 blog-main">
                    <article class="blog-post">




                        <div class="body">
                            <h2>
                                统计分析
                            </h2>
                            <br>
                               
                              
                        
                                    <div id="hotnews">
                                            <div id="hotnews_caption">
                                            <ul>
                                             <li class="current" onmouseover="secBoard('hotnews_caption','list',1);">用户分布</li>
                                             <li class="normal" onmouseover="secBoard('hotnews_caption','list',2);">科室</li>
                                             <li class="normal" onmouseover="secBoard('hotnews_caption','list',3);">职务</li>
                                             <li class="normal" onmouseover="secBoard('hotnews_caption','list',4);">职称</li>
                                            </ul>
                                            </div>
                               
                                <div id="hotnews_content">
                            <div class="current" id="list_1"><ul><div id="china-map" class=""></div></ul></div>
                            <div class="normal" id="list_2"><ul><div id="pie1" class=""></div></ul></div>
                            <div class="normal" id="list_3"><ul><div id="pie2" class=""></div></ul></div>
                            <div class="normal" id="list_4"><ul><div id="pie3" class=""></div></ul></div>
                                    </div></div>
                            

                            
         
                             
                            <script src="../static/js/pie1.js"></script>
                            <script src="../static/js/pie2.js"></script>
                            <script src="../static/js/pie3.js"></script>
                            <script src="../static/js/mapexam.js"></script>
                     
                        </div>
                    </article>

                </div>
                <aside class="col-md-2 blog-aside">
                    
                                    <div class="aside-widget">
                                        <header>
                                            <h3>功能区</h3>
                                        </header>
                                        <div class="body">
                                            <ul class="clean-list">
                                                <li><a href="/statistics">统计分析</a></li>
                                                <li><a href="/administrator">申请审核</a></li>
                                            </ul>
                                        </div>
                                    </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="widewrapper copyright">
            DeepInsight
        </div>
    </footer>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/modernizr.js" %}"></script>
    <script src="../static/js/jquery-1.11.1.min.js"></script>
<!-- <script>
    function changecss_chinamap() 
    {
        document.getElementById("china-map").className = " ";
        document.getElementById("pie1").className = "sr-only";
        document.getElementById("pie2").className = "sr-only";
        document.getElementById("pie3").className = "sr-only";
    }  
    function changecss_pie1 () 
    {
        document.getElementById("china-map").className = "hide";
        document.getElementById("pie1").className = "";
        document.getElementById("pie2").className = "sr-only";
        document.getElementById("pie3").className = "sr-only";
    }  
    function changecss_pie2 () 
    {
        document.getElementById("china-map").className = "hide";
        document.getElementById("pie1").className = "sr-only";
        document.getElementById("pie2").className = "";
        document.getElementById("pie3").className = "sr-only";
    }  
    function changecss_pie3 () 
    {
        document.getElementById("china-map").className = "hide";
        document.getElementById("pie1").className = "sr-only";
        document.getElementById("pie2").className = "sr-only";
        document.getElementById("pie3").className = "";
    } 


</script> -->
</body>

</html>